.comment-form {
    display: flex;
    width: 40%;
    flex-direction: column;
    /* border: 3px solid black; */
    border-radius: 10px;
    margin: 0.4em 0;
    padding: 0 0.6em;
    align-items: baseline;

    gap: 0.5em;

}

.comment-btn {
    background-color: black;
    width: 100%;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.8em;


}

label {
    width: 100%;

}

.comment-btn:hover {
    background-color: grey;
}

.input-search {
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.input-search-text {
    height: 3vh
}